/* Body text */
p {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Cal Sans", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}
